body {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 400px;
    height: 400px;
    gap: 2px;
}

.box {
    box-sizing: border-box;
    border: 1px solid gold;
    border-radius: 3px;
}

.painted.box {
    background-color: gold;
}

button {
    border: 0;
    background-color: gold;
    color: white;
    border-radius: 5px;
    padding: 1px 10px;
    font-size: 15px;
}
